<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeffrey Booher-Kaeding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">

</head>

    <!--<link rel="stylesheet" type="text/css" href="../static/styles.css">
    -->
<body>

<div class="backgroundDiv unselectable">
    <div class="infoDiv">
        <span class="fullName">Jeff Booher-Kaeding</span>
        <p class="links">
            <a target="_blank" href="/static/JeffBKResume.pdf">resume</a> |
            <a href="mailto:jeffbk95@gmail.com">email</a> |
            <a target="_blank" href="https://github.com/PhatFree">github</a> |
            <a target="_blank" href="https://www.linkedin.com/in/jeffrey-booher-kaeding-898494bb/">linkedin</a> |
            <a target="_blank" href="https://www.flickr.com/photos/136413361@N08/">flikr</a>

        </p>
        <p class="description">Computer Science student at Sonoma State University</p>
    </div>
</div>

</body>
</html>